*{
    margin:0;
    padding:0;
}
.traditional{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(work/backgr.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh; 
}
.text{
    text-align: center;
    width:80%;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);  
    color: white;
  
}
.text h1{
    padding-bottom: 50px;
    font-size: 32px;
}

.imgcard{
    margin-top: 100px;  
    text-align: center;
    
}
.imgcard h1{
    margin: 50px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
   flex-wrap: wrap;
   box-sizing: border-box;
}

.col{
    margin:10px auto ;
   width: 250px;
   text-align: center;
 
  
}
.col img{
    width: 100%;
    max-width: 250px;
    height: 200px;
    border-radius: 10px;
   filter: blur(2px);
   
}



.col:hover img{
    filter: blur(0);
    transition: filter 0.5s ease;
}
.col:hover .intro {
    background-color: rgba(255, 255, 255, 0.9); /* Change background color */
    color: #000; /* Change text color */
    border-radius: 5px; /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow for depth effect */
    padding: 15px; /* Increase padding for better appearance */
    
}
.col .intro {
    transition: box-shadow 1s ease;
}
/******about page***********************************/
.about-page{
    display: flex;
    color:aliceblue;
    padding: 20px 20px;
    margin-top:0px;
    font-size: 12px;
    gap:50%;
    background-color: #020403;
    
}
.about-page p{
display: inline-block;
margin:0 10px;
}

.about-page  img{
    width:20px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    border-radius: 100%;
    height: 80px;
   
}
.navbar ul li{
    display: inline-block;
    margin:0px 50px 20px 0;
    position: relative;
}
.navbar ul li::after{
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    display: block;
    width: 0%;
    background: #f44336;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width:100%;
}

.navbar ul li a{
    color:aliceblue;
text-decoration: none;
font-size: 12px;
}
/***************video element*************/
